@model BucketsViewModel

<h3 class="mb-3">Buckets</h3>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Owners</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bucket in Model.Buckets)
        {
            <tr>
                <td>@bucket.Id</td>
                <td>@bucket.Owners</td>
            </tr>
        }
    </tbody>
</table>