@using AlphabetUpdateServer.Services.Users
@if (User.Identity is { IsAuthenticated: true })
{
    <li>
        <a class="block py-2 px-3 text-white rounded hover:bg-blue-500 md:hover:bg-transparent md:border-0 md:hover:text-blue-300 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            asp-page="/Web/Account/Manage/Index"
            asp-route-username="@CookieAuthService.GetUsername(User.Claims)"
            title="Manage">
            @CookieAuthService.GetUsername(User.Claims)
        </a>
    </li>
    <li>
        <a asp-page="/Web/Account/Logout" asp-route-returnUrl="@Url.Page("/Web/Home")"
            class="block py-2 px-3 text-white rounded hover:bg-blue-500 md:hover:bg-transparent md:border-0 md:hover:text-blue-300 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            로그아웃
        </a>
    </li>
}
else
{
    <li>
        <a class="block py-2 px-3 text-white rounded hover:bg-blue-500 md:hover:bg-transparent md:border-0 md:hover:text-blue-300 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" asp-page="/Web/Account/Register">회원가입</a>
    </li>
    <li>
        <a class="block py-2 px-3 text-white rounded hover:bg-blue-500 md:hover:bg-transparent md:border-0 md:hover:text-blue-300 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" asp-page="/Web/Account/Login">로그인</a>
    </li>
}
