@model AlphabetUpdateServer.Pages.Web.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="bg-white p-6 shadow-md rounded-lg mx-auto w-full max-w-md">
    <h1 class="text-2xl font-bold mb-4">오류</h1>
    <hr class="my-4 border-gray-300" />
    @if (Model.ShowRequestId)
    {
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
    }
</div>