@page
@model AlphabetUpdateServer.Pages.Web.Home.IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-white p-6 shadow-md rounded-lg mx-auto w-full">
    <h1 class="text-xl">HELLO</h1>
    <span>12-23 버전</span>
</div>
