@page
@using AlphabetUpdateServer.Pages.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AlphabetUpdateServer.Pages.Web.Buckets.ListModel

@{
    ViewData["Title"] = "버킷 목록";
}

<div class="bg-white p-6 shadow-md rounded-lg mx-auto w-full">
    @await Html.PartialAsync("Web/_BreadcrumbPartial", new BreadcrumbModel[]
    {
        new() { Name = "Buckets", Url = Url.Page("/Web/Buckets/List") }
    })

    <h1 class="text-2xl font-bold mb-4">버킷</h1>
    <a asp-page="AddChecksumStorageBucket" class="mr-2 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        ChecksumStorageBucket 추가
    </a>
    <a asp-page="AddAlphabetMirrorBucket" class="mr-2 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        AlphabetMirrorBucket 추가
    </a>
    <hr class="my-4" />
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mt-4">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Id</th>
                <th scope="col" class="px-6 py-3">Type</th>
            </tr>
        </thead>
        <tbody>
            @await foreach (var bucket in Model.Buckets)
            {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <a asp-page="View" asp-route-id="@bucket.Id" asp-route-type="@bucket.Type"
                            class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                            @bucket.Id
                        </a>
                    </th>
                    <td class="px-6 py-4">@bucket.Type</td>
                </tr>
            }
        </tbody>
    </table>
</div>