@page
@model AlphabetUpdateServer.Pages.Web.Buckets.AddAlphabetMirrorBucketModel

@{
    ViewData["Title"] = "버킷 추가";
}

<h5 class="mb-3">←<a asp-page="List">버킷 목록</a></h5>
<h3 class="mb-3">AlphabetMirrorBucket 추가</h3>
<form method="post">
    <div class="row mb-3">
        <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Id" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="OriginUrl" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="OriginUrl" class="form-control">
        </div>
    </div>
    <button type="submit" name="action" class="btn btn-primary mb-3">생성</button>
</form>

<div>
    <a asp-page="List">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}