@page "{id}"
    
@using AlphabetUpdateServer.Pages.Web
@using AlphabetUpdateServer.Services.Buckets
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AlphabetUpdateServer.Pages.Web.Buckets.EditAlphabetMirrorBucketModel

<div class="bg-white p-6 shadow-md rounded-lg mx-auto w-full mb-6">
    @await Html.PartialAsync("Web/_BreadcrumbPartial", new BreadcrumbModel[]
    {
        new() { Name = "Buckets", Url = Url.Page("/Web/Buckets/List") },
        new() { Name = $"{Model.Id} (AlphabetMirrorBucket)", Url = Url.Page(
            pageName: "View",
            values: new { id = Model.Id, type = AlphabetMirrorBucketService.AlphabetMirrorType }) },
        new() { Name = "수정" }
    })

    <h1 class="text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white mb-6">
        @Model.Id
    </h1>

    <form method="post" asp-page-handler="OriginUrl" class="space-y-6">
        <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>
        <div>
            <label asp-for="OriginUrl" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input asp-for="OriginUrl"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            <span asp-validation-for="Id" class="text-red-500"></span>
        </div>
        <button type="submit" name="action"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            저장
        </button>
    </form>
</div>

@await Component.InvokeAsync("BucketOwner", new { id = Model.Id, showEdit = true })
@await Component.InvokeAsync("BucketDependency", new { id = Model.Id, showEdit = true })

<div class="bg-white p-6 shadow-md rounded-lg mx-auto w-full">
    <h4 class="text-2xl font-bold dark:text-white mb-4">파일 목록</h4>
    <p>AlphabetUpdateServer 를 업데이트 해주세요.</p>
</div>