@page "{id}"

@using AlphabetUpdateServer.Pages.Web
@using AlphabetUpdateServer.Services.Buckets
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AlphabetUpdateServer.Pages.Web.Buckets.EditChecksumStorageBucketModel

<div class="bg-white p-6 shadow-md rounded-lg mx-auto w-full mb-6">
    @await Html.PartialAsync("Web/_BreadcrumbPartial", new BreadcrumbModel[]
    {
        new() { Name = "Buckets", Url = Url.Page("/Web/Buckets/List") },
        new()
        {
            Name = $"{Model.Id} (ChecksumStorageBucket)", Url = Url.Page(
                pageName: "List",
                pageHandler: "RedirectToBucketWithType",
                values: new { id = Model.Id, type = ChecksumStorageBucketService.ChecksumStorageType })
        },
        new() { Name = "수정" }
    })

    <h1 class="text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white mb-6">
        @Model.Id
    </h1>

    <form method="post" asp-page-handler="StorageId" class="space-y-6">
        <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>
        <div>
            <label asp-for="StorageId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input asp-for="StorageId"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            <span asp-validation-for="Id" class="text-red-500"></span>
        </div>
        <button type="submit" name="action"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            저장
        </button>
    </form>
</div>

<div class="bg-white p-6 shadow-md rounded-lg mx-auto w-full mb-6">
    <h4 class="text-2xl font-bold dark:text-white mb-4">사용 한도</h4>
    <form method="post" class="space-y-6" asp-page-handler="Limitations">
        <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>
        <div>
            <label asp-for="Id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input asp-for="Id"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            <span asp-validation-for="Id" class="text-red-500"></span>
        </div>
        <div>
            <input asp-for="Limitations.IsReadOnly" type="checkbox"
                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/>
            <label asp-for="Limitations.IsReadOnly"
                   class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
            </label>
            <span asp-validation-for="Limitations.IsReadOnly" class="text-red-500"></span>
        </div>
        <div>
            <label asp-for="Limitations.ExpiredAt"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            </label>
            <input asp-for="Limitations.ExpiredAt"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            <span asp-validation-for="Limitations.ExpiredAt" class="text-red-500"></span>
        </div>
        <div>
            <label asp-for="Limitations.MaxBucketSize"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            </label>
            <input asp-for="Limitations.MaxBucketSize"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            <span asp-validation-for="Limitations.MaxBucketSize" class="text-red-500"></span>
        </div>
        <div>
            <label asp-for="Limitations.MaxFileSize"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            </label>
            <input asp-for="Limitations.MaxFileSize"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            <span asp-validation-for="Limitations.MaxFileSize" class="text-red-500"></span>
        </div>
        <div>
            <label asp-for="Limitations.MaxNumberOfFiles"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            </label>
            <input asp-for="Limitations.MaxNumberOfFiles"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            <span asp-validation-for="Limitations.MaxNumberOfFiles" class="text-red-500"></span>
        </div>
        <div>
            <label asp-for="Limitations.MonthlyMaxSyncCount"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            </label>
            <input asp-for="Limitations.MonthlyMaxSyncCount"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            <span asp-validation-for="Limitations.MonthlyMaxSyncCount" class="text-red-500"></span>
        </div>
        <button type="submit" name="action"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            저장
        </button>
    </form>
</div>

@await Component.InvokeAsync("BucketOwner", new { id = Model.Id, showEdit = true })
@await Component.InvokeAsync("BucketDependency", new { id = Model.Id, showEdit = true })

<div class="bg-white p-6 shadow-md rounded-lg mx-auto w-full">
    <h4 class="text-2xl font-bold dark:text-white mb-4">파일 목록</h4>
    <p>FishSyncClient 으로 파일 관리를 할 수 있습니다.</p>
</div>