@model AddChecksumStorageViewModel

<h5 class="mb-3">←<a asp-controller="ChecksumStorages">ChecksumStorages</a></h5>
<h3 class="mb-3">Add New ChecksumStorage</h3>
<form method="post">
    <div class="row mb-3">
        <label for="inputId" class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
            <input asp-for="Id" class="form-control" id="inputId">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputIsReadonly" class="col-sm-2 form-check-label">IsReadOnly</label>
        <div class="col-sm-10">
            <input asp-for="IsReadonly" class="form-check-input" id="inputIsReadonly">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputHost" class="col-sm-2 col-form-label">Host</label>
        <div class="col-sm-10">
            <input asp-for="Host" class="form-control" id="inputHost">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputClientSecret" class="col-sm-2 col-form-label">ClientSecret</label>
        <div class="col-sm-10">
            <input asp-for="ClientSecret" class="form-control" id="inputClientSecret">
        </div>
    </div>
    <button type="submit" name="action" class="btn btn-primary mb-3" onsubmit="return confirm('정말로 업데이트?')">Update</button>
</form>

