@page "{Id}"
@using AlphabetUpdateServer.Pages.Web
@model AlphabetUpdateServer.Pages.Web.ChecksumStorages.EditRFilesModel

<div class="bg-white p-6 shadow-md rounded-lg mx-auto w-full">
    @await Html.PartialAsync("Web/_BreadcrumbPartial", new BreadcrumbModel[]
    {
        new() { Name = "ChecksumStorages", Url = Url.Page("/Web/ChecksumStorages/List") },
        new() { Name = "RFilesStorage 수정" }
    })

    <h1 class="text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white mb-4">
        RFilesStorage 수정
    </h1>
    <form method="post" class="space-y-6">
        <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>
        <div>
            <label asp-for="Entity.Id" class="block font-medium text-gray-700"></label>
            <input asp-for="Entity.Id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            <span asp-validation-for="Entity.Id" class="text-red-500"></span>
        </div>
        <div>
            <input asp-for="Entity.IsReadonly" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/>
            <label asp-for="Entity.IsReadonly" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"></label>
            <span asp-validation-for="Entity.IsReadonly" class="text-red-500"></span>
        </div>
        <div>
            <label asp-for="Entity.Host" class="block font-medium text-gray-700"></label>
            <input asp-for="Entity.Host" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            <span asp-validation-for="Entity.Host" class="text-red-500"></span>
        </div>
        <div>
            <label asp-for="Entity.ClientSecret" class="block font-medium text-gray-700"></label>
            <input asp-for="Entity.ClientSecret" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            <span asp-validation-for="Entity.ClientSecret" class="text-red-500"></span>
        </div>
        <div>
            <input type="submit" value="Save" class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 cursor-pointer"/>
        </div>
    </form>

    <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 mt-6">
        <div class="w-full md:w-1/3">
            <form asp-page-handler="Delete" method="post">
                <input asp-for="Entity.Id" type="hidden"/>
                <input type="submit" value="Delete" class="bg-red-600 text-white px-4 py-2 rounded-md hover:bg-red-700 cursor-pointer"/>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
