<div class="text-center">
    <h1 class="display-4"><a herf="./web">WEB</a></h1>
    <p>Main page</p>
    <h1 class="display-4"><a href="./swagger">SWAGGER</a></h1>
    <p>Swagger UI for REST API</p>
    <h1 class="display-4"><a href="./api">API</a></h1>
    <p>REST API</p>
</div>
