<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a href="Index">프로필</a></li>
    <li class="nav-item"><a href="ChangePassword">비밀번호</a></li>
    <li class="nav-item"><a href="Roles">권한</a></li>
    <li class="nav-item"><a href="Buckets">버킷</a></li>
</ul>