@page "/Web/Account/Manage/{username}/ChangePassword"
@model ChangePasswordModel

@{
    ViewData["Title"] = "비밀번호 변경";
}

<h3>@ViewData["Title"]</h3>
<p>@Model.StatusMessage</p>
<div class="row">
    <div class="col-sm-8 col-md-2">
        <partial name="_NavBarPartial"/>
    </div>
    <div class="col-sm-8 col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control"/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">저장</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
