<ul class="flex flex-col space-y-2">
    <li class="nav-item">
        <a href="Index" class="block py-2 px-4 rounded-md text-gray-700 hover:bg-gray-100">프로필</a>
    </li>
    <li class="nav-item">
        <a href="ChangePassword" class="block py-2 px-4 rounded-md text-gray-700 hover:bg-gray-100">비밀번호</a>
    </li>
    <li class="nav-item">
        <a href="Roles" class="block py-2 px-4 rounded-md text-gray-700 hover:bg-gray-100">권한</a>
    </li>
    <li class="nav-item">
        <a href="Buckets" class="block py-2 px-4 rounded-md text-gray-700 hover:bg-gray-100">버킷</a>
    </li>
</ul>