@page "/Web/Account/Manage/{username}/Roles"
@model RolesModel

@{
    Layout = "./_Layout.cshtml";
    ViewData["Title"] = "권한";
}

<form method="post" class="space-y-4">
    <div class="space-y-3">
        @for (int i = 0; i < Model.RoleEnables.Count; i++)
        {
            <div class="flex items-center">
                <input asp-for="@Model.RoleEnables[i]" type="checkbox" 
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                <label asp-for="@Model.RoleEnables[i]" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    @Model.RoleNames[i]
                </label>
            </div>
        }
    </div>
    <button type="submit" name="action"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
        저장
    </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
