@page
@model RegisterModel
@{
    ViewData["Title"] = "회원가입";
}

<div class="bg-white p-6 shadow-md rounded-lg mx-auto w-full max-w-md">
    <h1 class="text-2xl font-bold mb-4">회원가입</h1>
    <hr class="my-4 border-gray-300" />
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="flex flex-col gap-2">
        <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>
        <div>
            <label asp-for="Input.Username" class="block mb-2 text-sm font-medium text-gray-900">아이디</label>
            <input asp-for="Input.Username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" autocomplete="username" aria-required="true" placeholder="아이디" />
            <span asp-validation-for="Input.Username" class="text-red-500"></span>
        </div>

        <div>
            <label asp-for="Input.Password" class="block mb-2 text-sm font-medium text-gray-900">비밀번호</label>
            <input asp-for="Input.Password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" autocomplete="new-password" aria-required="true" placeholder="비밀번호" />
            <span asp-validation-for="Input.Password" class="text-red-500"></span>
        </div>

        <div>
            <label asp-for="Input.ConfirmPassword" class="block mb-2 text-sm font-medium text-gray-900">비밀번호 확인</label>
            <input asp-for="Input.ConfirmPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" autocomplete="new-password" aria-required="true" placeholder="비밀번호 확인" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-red-500"></span>
        </div>

        <div>
            <label asp-for="Input.Email" class="block mb-2 text-sm font-medium text-gray-900">이메일</label>
            <input asp-for="Input.Email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" autocomplete="email" aria-required="false" placeholder="이메일" />
            <span asp-validation-for="Input.Email" class="text-red-500"></span>
        </div>

        <div>
            <label asp-for="Input.Memo" class="block mb-2 text-sm font-medium text-gray-900">메모</label>
            <input asp-for="Input.Memo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" autocomplete="discord" aria-required="false" placeholder="메모" />
            <span asp-validation-for="Input.Memo" class="text-red-500"></span>
        </div>

        <div>
            <button id="registerSubmit" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                회원가입
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
