@page
@using AlphabetUpdateServer.Pages.Web
@model AlphabetUpdateServer.Pages.Web.Home.IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-white p-6 shadow-md rounded-lg mx-auto w-full">
    @await Html.PartialAsync("Web/_BreadcrumbPartial", new BreadcrumbModel[]
    {
        
    })

    <h1 class="text-2xl font-bold mb-4">FISH SERVER</h1>
    <hr class="my-4" />
    <p>FISH SERVER 는 파일 동기화를 위한 서비스를 제공합니다.</p>
    <br/>
    <ul class="list-disc list-inside space-y-2 text-gray-700 dark:text-gray-300">
        <li>대용량 파일 목록을 빠르게 동기화</li>
        <li>REST API 제공</li>
        <li><a target="_blank" href="https://github.com/AlphaBs/FishSyncClient" class="text-blue-600 hover:underline">.NET SDK</a> 제공</li>
        <li>저렴한 가격에 무제한 트래픽</li>
    </ul>
    <br/>
    <p>구매 문의 디스코드 ksi123456ab</p>
    <br/>

    <h1 class="text-2xl font-bold mt-4">동기화 클라이언트</h1>
    <hr class="my-4" />
    <p>동기화를 위해서는 전용 클라이언트를 설치해야 합니다.</p>
    <p><a target="_blank" href="https://alphabeta.pw/home/shares/fish/win-x64/" class="text-blue-600 hover:underline">win-x64 다운로드</a></p>
</div>