<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css" />
    <title>FISH SERVER</title>
</head>
<body class="bg-gray-100 text-gray-800">
    <header class="bg-blue-600 text-white shadow-md">
        <nav class="container mx-auto p-4 flex justify-between items-center">
            <div class="flex flex-row gap-1">
                <img class="w-6 h-6 object-cover" src="/logo.png">
                <a asp-page="/Web/Home/Index" class="text-xl font-bold hover:text-blue-300">FISH SERVER</a>
            </div>
            <div class="flex items-center space-x-6">
                <ul class="flex space-x-4">
                    <li><a asp-page="/Web/Buckets/List" class="hover:text-blue-300">버킷</a></li>
                    <li><a asp-page="/Web/ChecksumStorages/List" class="hover:text-blue-300">스토리지</a></li>
                    <li><a asp-page="/Web/Account/Admin/Index" class="hover:text-blue-300">유저</a></li>
                    <li><a asp-page="/Web/Config" class="hover:text-blue-300">설정</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    <div class="container mx-auto py-8">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-gray-800 text-gray-300 py-6">
        <div class="container mx-auto text-center space-y-4">
            <div>
                FISH SERVER - &copy; 2024 ksi123456ab
            </div>
            <div>
                @Html.Encode("ksi123456ab@gmail.com")
            </div>
            <div class="space-x-4">
                <a href="/api" target="_blank" class="text-blue-400 hover:underline">API</a>
                <a href="/swagger" target="_blank" class="text-blue-400 hover:underline">SWAGGER</a>
                <a asp-page="/Web/Home/Privacy" class="text-blue-400 hover:underline">Privacy</a>
            </div>
        </div>
    </footer>

    <script src='@Html.Raw("https://unpkg.com/@popperjs/core@2")'></script>
    <script src='@Html.Raw("https://unpkg.com/tippy.js@6")'></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
