@using AlphabetUpdateServer.Services.Users
<ul class="flex space-x-4">
@if (User.Identity is { IsAuthenticated: true })
{
    <li>
        <a id="manage"
           asp-page="/Web/Account/Manage/Index"
           asp-route-username="@CookieAuthService.GetUsername(User.Claims)"
           title="Manage">
            @CookieAuthService.GetUsername(User.Claims)
        </a>
    </li>
    <li>
        <form id="logoutForm" asp-page="/Web/Account/Logout" asp-route-returnUrl="@Url.Page("/Web/Home")">
            <button id="logout" type="submit">로그아웃</button>
        </form>
    </li>
}
else
{
    <li>
        <a id="register" asp-page="/Web/Account/Register">회원가입</a>
    </li>
    <li>
        <a id="login" asp-page="/Web/Account/Login">로그인</a>
    </li>
}
</ul>
